<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post">
  <label for="id_period">Период:</label><input type="text" name="period" maxlength="100" required="" id="id_period">
<label for="id_nickname">Никнейм канала:</label><input type="text" name="nickname" maxlength="100" required="" id="id_nickname">
<label for="id_email">Ваш email:</label><input type="email" name="email" required="" id="id_email">
    <button type="submit">Отправить</button>
</form>

</body>
</html>